@font-face {
    font-family: 'Circe Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Circe Bold'), url('../fonts/CRC65.woff') format('woff');
}

body * {
    outline: 0;
}
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}
input[type="text"],
input[type="email"],
input[type="tel"]
{
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #e1e3e5;
    padding: 5px 0px 5px 13px;
}
input[type="text"]::-webkit-input-placeholder,
input[type="text"]::-moz-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="text"]:-moz-placeholder,
input[type="text"]::placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="email"]::-moz-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="email"]:-moz-placeholder,
input[type="email"]::placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="tel"]::placeholder
{
    color: #ababab;
    font-size: 16px;
    font-weight: 400;
}
.btn {
    outline: 0;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 18px;
    vertical-align: top;
}
.btn.blue {
    border-radius: 4px;
    background: -webkit-linear-gradient(-90deg, #37a2d9 0%, #208cc4 99%);
    background: -moz-linear-gradient(-90deg, #37a2d9 0%, #208cc4 99%);
    background: -o-linear-gradient(-90deg, #37a2d9 0%, #208cc4 99%);
    background: -ms-linear-gradient(-90deg, #37a2d9 0%, #208cc4 99%);
    background: linear-gradient(180deg, #37a2d9 0%, #208cc4 99%);
    padding: 6px 41px;
    font-weight: 400;
    color: #fff;
    outline: 0;
    text-transform: uppercase;
}
.btn.blue:hover {
    color: #fff;
    outline: 0;
    background: -webkit-linear-gradient(-90deg, #318fbf 0%, #1a7aab 99%);
    background: -moz-linear-gradient(-90deg, #318fbf 0%, #1a7aab 99%);
    background: -o-linear-gradient(-90deg, #318fbf 0%, #1a7aab 99%);
    background: -ms-linear-gradient(-90deg, #318fbf 0%, #1a7aab 99%);
    background: linear-gradient(180deg, #318fbf 0%, #1a7aab 99%);
}
.btn.blue:active {
    color: #fff;
    outline: 0;
    background: -webkit-linear-gradient(-90deg, #318fbf 0%, #1a7aab 99%);
    background: -moz-linear-gradient(-90deg, #318fbf 0%, #1a7aab 99%);
    background: -o-linear-gradient(-90deg, #318fbf 0%, #1a7aab 99%);
    background: -ms-linear-gradient(-90deg, #318fbf 0%, #1a7aab 99%);
    background: linear-gradient(180deg, #318fbf 0%, #1a7aab 99%);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.23);
    box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.23);
}
.btn.purple {
    color: #ffffff;
    outline: 0;
    border-radius: 4px;
    background: -webkit-linear-gradient(-90deg, #cc139a 0%, #7f1093 100%);
    background: -moz-linear-gradient(-90deg, #cc139a 0%, #7f1093 100%);
    background: -o-linear-gradient(-90deg, #cc139a 0%, #7f1093 100%);
    background: -ms-linear-gradient(-90deg, #cc139a 0%, #7f1093 100%);
    background: linear-gradient(180deg, #cc139a 0%, #7f1093 100%);
}
.btn.purple:hover {
    color: #ffffff;
    outline: 0;
    background: -webkit-linear-gradient(-90deg, #b8118b 0%, #700f81 100%);
    background: -moz-linear-gradient(-90deg, #b8118b 0%, #700f81 100%);
    background: -o-linear-gradient(-90deg, #b8118b 0%, #700f81 100%);
    background: -ms-linear-gradient(-90deg, #b8118b 0%, #700f81 100%);
    background: linear-gradient(180deg, #b8118b 0%, #700f81 100%);
}
.btn.purple:active {
    color: #ffffff;
    outline: 0;
    background: -webkit-linear-gradient(-90deg, #b8118b 0%, #700f81 100%);
    background: -moz-linear-gradient(-90deg, #b8118b 0%, #700f81 100%);
    background: -o-linear-gradient(-90deg, #b8118b 0%, #700f81 100%);
    background: -ms-linear-gradient(-90deg, #b8118b 0%, #700f81 100%);
    background: linear-gradient(180deg, #b8118b 0%, #700f81 100%);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.23);
    box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.23);
}
.btn.green {
    outline: 0;
    color: #ffffff;
    background: -webkit-linear-gradient(-90deg, #aece29 0%, #87ac14 100%);
    background: -moz-linear-gradient(-90deg, #aece29 0%, #87ac14 100%);
    background: -o-linear-gradient(-90deg, #aece29 0%, #87ac14 100%);
    background: -ms-linear-gradient(-90deg, #aece29 0%, #87ac14 100%);
    background: linear-gradient(180deg, #aece29 0%, #87ac14 100%);
}
.btn.green:hover {
    color: #ffffff;
    outline: 0;
    background: -webkit-linear-gradient(-90deg, #a1bf23 0%, #749312 100%);
    background: -moz-linear-gradient(-90deg, #a1bf23 0%, #749312 100%);
    background: -o-linear-gradient(-90deg, #a1bf23 0%, #749312 100%);
    background: -ms-linear-gradient(-90deg, #a1bf23 0%, #749312 100%);
    background: linear-gradient(180deg, #a1bf23 0%, #749312 100%);
}
.btn.green:active {
    color: #ffffff;
    outline: 0;
    background: -webkit-linear-gradient(-90deg, #a1bf23 0%, #749312 100%);
    background: -moz-linear-gradient(-90deg, #a1bf23 0%, #749312 100%);
    background: -o-linear-gradient(-90deg, #a1bf23 0%, #749312 100%);
    background: -ms-linear-gradient(-90deg, #a1bf23 0%, #749312 100%);
    background: linear-gradient(180deg, #a1bf23 0%, #749312 100%);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.23);
    box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.23);
}
.top-header,
.main-menu,
.foot-wrapper {
    max-width: 992px;
    margin: 0 auto;
}
.logo-container {
    margin-top: 27px;
    margin-bottom: 20px;
}
.logo-container a {
    text-decoration: none;
    color: #383838;
}
.logo-container img {
    width: 100%;
    max-width: 290px;
}
.logo-container span {
    font-family: 'Circe Bold', sans-serif;
    font-weight: 700;
    font-size: 9px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    display: block;
    margin-top: 10px;
}
.search-container {
    margin: 17px 0 13px;
}
.search-input-container {
    border-radius: 4px 0 0 4px;
    background-color: rgba(164, 201, 46, 0.7);
    padding: 4px;
}
.search-input-container-right {
    border-radius: 0 4px 4px 0;
    padding: 4px 4px 4px 0;
    background-color: rgba(164, 201, 46, 0.7);
}
.search-input-container-right .btn.blue {
    width: 100%;
    padding: 5px 0;
    height: 33px;
    text-align: center;
}
.search-input-container input {
    border-radius: 4px;
    background-color: #ffffff;
    background-image: url(../images/icon-search.png);
    background-repeat: no-repeat;
    background-position-x: 9px;
    background-position-y: center;
    border: none;
    display: inline-block;
    font-size: 16px;
    color: rgba(83, 83, 82, 0.68);
    padding: 6px 0 6px 33px;
    height: 33px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-shadow: inset 0px 0px 2px 1px rgba(224,224,224,1);
    -moz-box-shadow: inset 0px 0px 2px 1px rgba(224,224,224,1);
    box-shadow: inset 0px 0px 2px 1px rgba(224,224,224,1);
}
.search-fixed {
    float: left;
    margin-left: 40px;
    margin-top: 2.5px;
    display: none;
}
form.search-fixed-form input {
    background-image: url(../images/icon-search.png);
    background-repeat: no-repeat;
    background-position-x: 9px;
    background-position-y: center;
    padding-left: 33px;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 288px;
}
.search-fixed .fixed-search-btn {
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    display: inline-block;
    padding: 0;
    margin-left: -38px;
}
.search-fixed .fixed-search-btn img {
    vertical-align: baseline;
    padding-top: 6px;
}
.where-search {
    margin-top: -5px;
}
.where-search-item {
    display: inline-block;
}
.where-search label {
    color: #b2afaf;
    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
    padding: 10px;
}
.where-search input[type=checkbox] {
    display: none;
}
.where-search label:hover, .where-search input[type=checkbox]:checked + label {
    color:  #a8cc32;
}
.where-search .where-search-item:first-child label {
    padding-left: 0;
}
.where-search .where-search-item:last-child label {
    padding-right: 0;
}
.where-search label {
    color: #b2afaf;
    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
    padding: 0 8px 0 9px;
    margin: 0;
}
.bottom-header {
    background-color:  #ab60cb;
    transition: all 2.2s;
}
.bottom-header.bar_fixed{
    position: fixed;
    top: 0;
    z-index: 300;
    width: 100%;
    transition: all 2.2s;
}
nav.main-menu > ul.menu {
    position: relative;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: block;
    /*height: 40px;*/
    background: #ab60cb;
    width: 700px;
}

.bar_fixed nav.main-menu > ul.menu {
    /* margin-left: 0;
    transition: all 2s; */
}
/*nav.main-menu > ul.menu::after {
    content: '';
    position: absolute;
    right: 1px;
    border: 14px solid transparent;
    border-right: 7px solid #AB60CB;
    border-bottom: 26px solid #ab60cb;
    z-index: 100;
}
nav.main-menu > ul.menu::before {
    content: '';
    position: absolute;
    left: -1px;
    border: 14px solid transparent;
    border-left: 8px solid #ab60cb;
    border-top: 26px solid #ab60cb;
    z-index: 101;
}*/
nav.main-menu > ul > li {
    margin: 0px 0px;
    padding: 0 11px;
    background: transparent;
    /*position: relative;*/
    float: left;
    /*right: 50%;*/
}
nav.main-menu > ul > li:first-child {
    padding-left: 22px;
    background-image: url(../images/menu-spoler.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}
nav.main-menu > ul > li:last-child {
    padding-right: 22px;
}
nav.main-menu ul.menu > li > a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    display: block;
    padding: 10px 12px;
    text-decoration: none;
    position: relative;
    margin: 0 0px;
    background-color: #ab60cb;
}
nav.main-menu ul.menu > li.dropdown > a {
    background-image: url(../images/arrow-chevron-down.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}
nav.main-menu ul.menu > li:hover > a,
nav.main-menu ul.menu > li.dropdown.active > a {
    background-color:  #a8cc32;
}
nav.main-menu ul.menu > li > a > img {
    vertical-align: baseline;
}
nav.main-menu ul.menu > li > a::before {
    content: '';
    position: absolute;
    left: -21px;
    top: 0;
    border: 14px solid transparent;
    border-right: 7px solid #ab60cb;
    border-bottom: 26px solid #ab60cb;
    z-index: 100;
}
nav.main-menu ul.menu > li > a::after {
    content: '';
    position: absolute;
    right: -21px;
    top: 0;
    border: 14px solid transparent;
    border-left: 7px solid #ab60cb;
    border-top: 26px solid #ab60cb;
    z-index: 101;
    background: url(../images/menu-spoler.png) no-repeat -7px -26px;
}
/* ul.menu li:hover a::after {
    border-color:  #a8cc32;
} */
nav.main-menu ul.menu > li:hover > a::before,
nav.main-menu ul.menu > li.dropdown.active > a::before {
    border-right: 8px solid #a8cc32; 
    border-bottom: 26px solid #a8cc32;
}
nav.main-menu ul.menu > li:hover > a::after,
nav.main-menu ul.menu > li.dropdown.active > a::after {
    border-left: 8px solid #a8cc32;
    border-top: 26px solid #a8cc32;
}
nav.main-menu > ul > li.dropdown > ul {
    position: absolute;
    left: -154px;
    background-color: #ffffff;
    box-shadow: 0px 2px 8.5px 0.5px #e0e0e0;
    margin: 0;
    padding: 13px;
    width: 700px;
    box-sizing: border-box;
    display: none;
    z-index: 100;
}
nav.main-menu > ul > li > ul > li {
    display: inline-block;
    width: 32%;
    padding: 13px;
}
nav.main-menu > ul > li > ul > li a {
    color: rgba(0, 0, 0, 0.57);
    font-size: 14px;
    font-weight: 400;
    display: block;
}
nav.main-menu > ul > li > ul > li a:hover {
    color: #a8cc32;
}
nav.main-menu > ul > li > ul > li span {
    display: inline-block;
    vertical-align: middle;
    width: 52px;
    height: 35px;
    padding-right: 17px;
}
.submenu-item-1 {
    background: url(../images/menu-split.png) no-repeat -18px -15px;
}
.submenu-item-2 {
    background: url(../images/menu-split.png) no-repeat -128px -15px;
}
.submenu-item-3 {
    background: url(../images/menu-split.png) no-repeat -239px -15px;
}
.submenu-item-4 {
    background: url(../images/menu-split.png) no-repeat -18px -64px;
}
.submenu-item-5 {
    background: url(../images/menu-split.png) no-repeat -128px -64px;
}
.submenu-item-6 {
    background: url(../images/menu-split.png) no-repeat -239px -64px;
}
.submenu-item-7 {
    background: url(../images/menu-split.png) no-repeat -18px -114px;
}
.submenu-item-8 {
    background: url(../images/menu-split.png) no-repeat -128px -114px;
}
.submenu-item-9 {
    background: url(../images/menu-split.png) no-repeat -239px -114px;
}
.submenu-item-10 {
    background: url(../images/menu-split.png) no-repeat -18px -164px;
}
.submenu-item-11 {
    background: url(../images/menu-split.png) no-repeat -128px -164px;
}
.submenu-item-12 {
    background: url(../images/menu-split.png) no-repeat -239px -164px;
}
.submenu-item-13 {
    background: url(../images/menu-split.png) no-repeat -18px -214px;
}
.submenu-item-14 {
    background: url(../images/menu-split.png) no-repeat -128px -214px;
}
.submenu-item-15 {
    background: url(../images/menu-split.png) no-repeat -239px -214px;
}
nav.main-menu > ul > li > ul > li a:hover .submenu-item-1 {
    background: url(../images/menu-split.png) no-repeat -70px -16px;
}
nav.main-menu > ul > li > ul > li a:hover .submenu-item-2 {
    background: url(../images/menu-split.png) no-repeat -181px -15px;
}
nav.main-menu > ul > li > ul > li a:hover .submenu-item-3 {
    background: url(../images/menu-split.png) no-repeat -291px -15px;
}
nav.main-menu > ul > li > ul > li a:hover .submenu-item-4 {
    background: url(../images/menu-split.png) no-repeat -70px -65px;
}
nav.main-menu > ul > li > ul > li a:hover .submenu-item-5 {
    background: url(../images/menu-split.png) no-repeat -181px -64px;
}
nav.main-menu > ul > li > ul > li a:hover .submenu-item-6 {
    background: url(../images/menu-split.png) no-repeat -291px -64px;
}
nav.main-menu > ul > li > ul > li a:hover .submenu-item-7 {
    background: url(../images/menu-split.png) no-repeat -70px -115px;
}
nav.main-menu > ul > li > ul > li a:hover .submenu-item-8 {
    background: url(../images/menu-split.png) no-repeat -181px -114px;
}
nav.main-menu > ul > li > ul > li a:hover .submenu-item-9 {
    background: url(../images/menu-split.png) no-repeat -291px -114px;
}
nav.main-menu > ul > li > ul > li a:hover .submenu-item-10 {
    background: url(../images/menu-split.png) no-repeat -70px -165px;
}
nav.main-menu > ul > li > ul > li a:hover .submenu-item-11 {
    background: url(../images/menu-split.png) no-repeat -181px -164px;
}
nav.main-menu > ul > li > ul > li a:hover .submenu-item-12 {
    background: url(../images/menu-split.png) no-repeat -291px -164px;
}
nav.main-menu > ul > li > ul > li a:hover .submenu-item-13 {
    background: url(../images/menu-split.png) no-repeat -70px -215px;
}
nav.main-menu > ul > li > ul > li a:hover .submenu-item-14 {
    background: url(../images/menu-split.png) no-repeat -181px -214px;
}
nav.main-menu > ul > li > ul > li a:hover .submenu-item-15 {
    background: url(../images/menu-split.png) no-repeat -291px -214px;
}
.copy {
    padding: 5px 0;
    float: right;
    height: 34px;
    overflow: hidden;
}
button.copy span {
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 300ms;
    -moz-transition: -moz-transform 300ms;
    -o-transition: -o-transform 300ms;
    transition: -webkit-transform 300ms, -moz-transform 300ms, -o-transform 300ms, transform 300ms;
}
button.copy.copied span:first-child {
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -o-transform: translateY(200%);
    -ms-transform: translateY(200%);
    transform: translateY(200%);
}
button.copy span:last-child {
    -webkit-transform: translateY(-300%);
    -moz-transform: translateY(-300%);
    -o-transform: translateY(-300%);
    -ms-transform: translateY(-300%);
    transform: translateY(-300%);
}
button.copy.copied span:last-child {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
.coupon-item a {
    opacity: 1;
}
.coupon-item a:hover {
    opacity: .7;
}

/* footer */
footer {
    background-color: #ab5fcb;
}
.foot-wrapper {
    padding: 27px 0;
}
.foot-menu-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.foot-menu-container ul li {
    display: inline-block;
    padding: 0 7.5px;
}
.foot-menu-container ul li:first-child {
    padding-left: 0;
}
.foot-menu-container ul a {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    text-decoration: underline;
}
.foot-menu-container ul a:hover {
    font-weight: bold;
}
.foot-copyright-container {
    margin-top: 10px;
}
.foot-copyright-container span {
    color: #ffffff;
    font-size: 12px;
    opacity: .7;
    font-weight: 400;
}
.foot-social-container a {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}
.foot-social-container a:hover {
    font-weight: bold;
}

/* modals */
#modal-1 .modal-footer, #modal-7 .modal-footer, #modal-9 .modal-footer {
    background-color: #f1f3f5;
    border: none;
}
.modal-content {
    border-radius: 4px;
}
button.close {
    font-size: 33px;
    font-weight: 100;
}
.modal-header .close {
    margin-right: -4px;
    margin-top: -17px;
}
.modal-content {
    background-color: #f1f3f5;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid rgba(181, 183, 196, 0.3);
    background-color: #fff;
    border-radius: 4px 4px 0 0;
}
.modal-body {
    background-color: #f1f3f5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.modal-content a {
    color:  #055da8;
}
.modal-footer {
    border-top: 1px solid rgba(181, 183, 196, 0.3);
    background-color: #fff;
    border-radius: 0 0 4px 4px;
}

.left-modal-header {
    padding-left: 35px;
}
.right-modal-header {
    padding: 0;
}
.right-modal-title {
    color: #383838;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.1;
}
.right-modal-subtitle {
    color: #5f5f5f;
    font-size: 12px;
    font-weight: 400;
}
.modal-content-title {
    text-align: center;
    color: #5f5f5f;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}
.modal-content-navi {
    background: url('../images/back-icon.png') no-repeat left center;
    padding-left: 13px;
    padding-top: 2px;
    color: #5f5f5f;
    font-size: 15px;
    font-weight: 700;
    line-height: 12px;
    cursor: pointer;
}
.modal-content-like {
    text-align: center;
    margin-top: 5px;
}
.modal-content-like span {
    height: 76px;
    width: 74px;
    display: inline-block;
    padding: 0 8.5px;
    cursor: pointer;
}
.modal-content-like span.like {
    background: url('../images/like-sprite-icon.png') no-repeat center top;
}
.modal-content-like span.unlike {
    background: url('../images/unlike-sprite-icon.png') no-repeat center 19px;
}
.modal-content-like span.like:hover {
    background: url('../images/like-sprite-icon.png') no-repeat center -80px;
}
.modal-content-like span.unlike:hover {
    background: url('../images/unlike-sprite-icon.png') no-repeat center -61px;
}
.modal-content-social {
    text-align: center;
    margin-top: 14px;
}
.modal-content-social-img {
    margin-top: 5px;
    margin-bottom: 26px;
}
.modal-content-goto {
    color: #383838;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}
.modal-content-promo-wrapper {
    border-radius: 4px;
    background-color: rgba(241, 243, 245, 0.7);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    padding: 3px 2px;
}
.modal-content-promo {
    padding: 0 23px;
    margin-top: 10px;
}
.modal-content-promo input[type="text"] {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    padding: 2px 0 0 13px;
    height: 34px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #e1e3e5;
    background-color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 73%;
}
.modal-content-promo .without-button input[type="text"] {
    width: 100%;
}
.modal-content-promo .without-button .inner-promo-text {
    color: #383838;
    font-size: 18px;
    font-weight: 700;
    background: #fff;
    text-align: center;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #e1e3e5;
    padding: 3.5px 13px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.modal-content-more a {
    font-size: 13.77px;
    font-weight: 400;
    background: url('../images/modale-arrow-chevron-down.png') no-repeat right center;
    padding-right: 13px;
    padding-top: 0px;
    text-align: right;
    float: right;
}
.modal-content-more.active a {
    background: url('../images/modale-arrow-chevron-up.png') no-repeat right center;
}
.modal-content-more span {
    color: #5f5f5f;
    font-size: 13.77px;
    font-weight: 400;
    /* white-space: normal; */
    overflow: hidden;
    text-overflow: ellipsis;
    width: 76%;
    display: inline-block;
    text-align: left;
    opacity: 0;
}
.modal-content-more.active span {
    width: 100%;
    /* transition: height .3s, white-space .3s; */
}
.modal-content-more {
    margin-top: 13px;
    text-align: left;
    padding-left: 23px;
    padding-right: 23px;
}
.modal-content-use-code {
    margin: 23px 0 13px;
    text-align: center;
}
.modal-footer-question {
    text-align: center;
}
.modal-footer-question span {
    color: #787878;
    font-weight: 400;
    display: inline-block;
    vertical-align: sub;
    margin-right: 16px;
}
.modal-footer-question .btn-default {
    color: #787878;
    font-weight: 400;
    text-transform: inherit;
    padding-left: 32px;
    padding-right: 11px;
    border-color: #e5e5e5;
    outline: 0;
}
.btn.btn-yes {
    background: url('../images/like-small-sprite.png') no-repeat 9px 5px;
}
.btn.btn-no {
    background: url('../images/unlike-small-sprite.png') no-repeat 9px 10px;
}
.btn.btn-yes:hover {
    background: url('../images/like-small-sprite.png') no-repeat 9px -34px;
}
.btn.btn-no:hover {
    background: url('../images/unlike-small-sprite.png') no-repeat 9px -29px;
}
.modal-content-just-text {
    color: #5f5f5f;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 41px;
    padding-right: 35px;
    margin-top: 16px;
}
.modal-content-just-text.without-button {
    padding-left: 23px;
    padding-right: 23px;
}
.modal-content-wrong {
    padding: 0 71px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.modal-content-wrong .wrong-item a {
    display: block;
    width: 76px;
    margin: 0 auto;
    color: #5f5f5f;
    font-size: 14px;
    text-align: center;
    height: 126px;
    padding-top: 85px;
    text-decoration: none;
}
.modal-content-wrong .wrong-item.bad-condition a {
    background: url('../images/modal-sprite.png') no-repeat 0 0;
}
.modal-content-wrong .wrong-item.no-sale a {
    background: url(../images/modal-sprite.png) no-repeat -180px 0;
}
.modal-content-wrong .wrong-item.other a {
    background: url('../images/modal-sprite.png') no-repeat -360px 0;
}

.modal-content-wrong .wrong-item.bad-condition a:hover {
    background: url('../images/modal-sprite.png') no-repeat -90px 0;
}
.modal-content-wrong .wrong-item.no-sale a:hover {
    background: url('../images/modal-sprite.png') no-repeat -270px 0;
}
.modal-content-wrong .wrong-item.other a:hover {
    background: url('../images/modal-sprite.png') no-repeat -450px 0;
}
.modal-footer-moresales {
    padding: 0 28px;
}
.footer-moresales-title {
    color: #5f5f5f;
    font-weight: 400;
    text-align: center;
}
form.moresales-form {
    margin-top: 12px;
    margin-bottom: 10px;
}
.modal-content-problem {
    margin-top: 10px;
    padding: 0 26px;
}
.modal-content-problem-just-text {
    color: #5f5f5f;
    font-size: 14px;
    font-weight: 400;
    padding-left: 0;
    padding-right: 0;
}
form.problem-form textarea {
    height: 100px;
    width: 100%;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #e1e3e5;
    box-sizing: border-box;
    display: block;
    padding-left: 13px;
    padding-top: 5px;
    resize: none;
}
form.problem-form .modal-content-promo-wrapper {
    margin-top: 10px;
}
.modal-msg-container {
    margin-top: 30px;
    margin-bottom: 55px;
}
.modal-content-text {
    text-align: center;
    margin-top: 10px;
}
.footer-coupons-container {
    margin-top: 7px;
}
.coupon-item a {
    display: block;
}
.coupon-item img {
    width: 100%;
    border: 1px solid #f1f1f1;
    margin: 0 auto;
    display: block;
}
.modal-header .close {
    opacity: 1;
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.group {
    float: left;
    padding: 0 2px;
    box-sizing: border-box;
}
.group.inp-promo {
    width: 76%;
}
.group.subm-promo {
    width: 24%;
}
.group.inp-text {
    width: 37%;
}
.group.subm-btn {
    width:  26%;
}
.moresales-form input[type="text"], 
.moresales-form input[type="email"], 
.moresales-form input[type="tel"],
.moresales-form button.green,
.inp-promo input[type="text"], 
.inp-promo input[type="email"], 
.inp-promo input[type="tel"],
.subm-promo button {
    width: 100%;
    height: 34px;
}
/*.modal-content-more {
overflow: hidden; 
height: 22px;
}*/
/*media*/
@media (max-width: 992px) {
    .logo-container span {
        font-size: 5px;
    }
}
@media (max-width: 767px) {
    body {
        font-size: 18px;
        width: 100%;
    }
    .logo-container {
        text-align: center;
    }
    .logo-container span {
        font-size: 8px;
        color: #333;
    }
    #modal-1 .modal-footer {
        background-color: #fff;
        border-top: 1px solid rgba(181, 183, 196, 0.3);
    }
    .modal-dialog {
        width: 100%;
/*        min-width: 480px;*/
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        border: none;
    }
    .modal-content {
        border: none;
        border-radius: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .modal-icon-header img {
        width: 100%;
    }
    .modal-dialog .logo-container {
        margin: 0;
        padding-bottom: 11px;
        border-bottom: 1px solid rgba(181, 183, 196, 0.3);
    }
    .modal-header .close {
        position: absolute;
        right: 21px;
        top: 9px;
        font-size: 62px;
        opacity: 1;
        z-index: 100;
    }
    .modal-header .close:hover {
        opacity: .7;
    }
    .modal-header {
        padding: 11px 15px 15px 15px;
    }
    .left-modal-header, .right-modal-header {
        margin-top: 18px;
    }
    .modal-content-social {
        margin: 0;
    }
    .modal-content-social-img {
        margin-top: 5px;
        margin-bottom: 0;
    }
    .right-modal-title {
        font-size: 22px;
    }
    .right-modal-subtitle {
        font-size: 16px;
    }
    .modal-content-navi {
        padding-top: 0px;
        font-size: 20px;
        line-height: 20px;
    }
    .modal-content-title {
        font-size: 24px;
    }
    .modal-content-social-title {
        font-size: 20px;
    }
    .modal-content-promo input[type="text"] {
        width: 100%;
    }
    .modal-content-more {
        margin-top: 13px;
        text-align: center;
        padding-left: 23px;
        padding-right: 23px;
    }
    .modal-content-more span {
        width: 100%;
        font-size: 18px;
    }
    .modal-content-more a {
        float: none;
        display: inline-block;
        font-size: 18px;
    }
    .push-to-copy {
        color: #ccc;
        font-size: 18px;
        text-align: center;
    }
    .group.subm-btn,
    .group.inp-text,
    .group.inp-promo {
        clear: both;
        width: 100%;
    }
    .group.subm-btn button {
        width: 70%;
    }
    .moresales-form button.green {
        height: 51px;
    }
    .btn.green {
        color: #ffffff;
        outline: 0;
        border-radius: 4px;
        font-size: 14px;
        padding: 14px 55px;
        background: -webkit-linear-gradient(-90deg, #cc139a 0%, #7f1093 100%);
        background: -moz-linear-gradient(-90deg, #cc139a 0%, #7f1093 100%);
        background: -o-linear-gradient(-90deg, #cc139a 0%, #7f1093 100%);
        background: -ms-linear-gradient(-90deg, #cc139a 0%, #7f1093 100%);
        background: linear-gradient(180deg, #cc139a 0%, #7f1093 100%);
    }
    .btn.green:hover {
        color: #ffffff;
        outline: 0;
        background: -webkit-linear-gradient(-90deg, #b8118b 0%, #700f81 100%);
        background: -moz-linear-gradient(-90deg, #b8118b 0%, #700f81 100%);
        background: -o-linear-gradient(-90deg, #b8118b 0%, #700f81 100%);
        background: -ms-linear-gradient(-90deg, #b8118b 0%, #700f81 100%);
        background: linear-gradient(180deg, #b8118b 0%, #700f81 100%);
    }
    .btn.green:active {
        color: #ffffff;
        outline: 0;
        background: -webkit-linear-gradient(-90deg, #b8118b 0%, #700f81 100%);
        background: -moz-linear-gradient(-90deg, #b8118b 0%, #700f81 100%);
        background: -o-linear-gradient(-90deg, #b8118b 0%, #700f81 100%);
        background: -ms-linear-gradient(-90deg, #b8118b 0%, #700f81 100%);
        background: linear-gradient(180deg, #b8118b 0%, #700f81 100%);
        -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.23);
        -moz-box-shadow: inset 0px 2px 2px 0px rgba(0,0,0,0.23);
        box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.23);
    }
    .modal-footer-question span, .modal-footer-question button{
        font-size: 18px;
    }
    .modal-content-just-text {
        font-size: 16px;
        line-height: 20px;
    }
    .modal-content-wrong {
        margin-top: 30px;
    }
    .modal-content-promo-wrapper {
         border-radius: 0; 
         background-color: transparent; 
         box-shadow: none; 
         padding: 0px;
    }
    .footer-moresales-title {
        max-width: 300px;
        margin: 0 auto;
    }
    form.moresales-form {
        max-width: 100%;
        margin: 0 auto;
    }
    form.moresales-form input {
        width: 100%;
        margin: 7px 0;
        font-size: 14px;
        padding: 10px 13px;
        box-sizing: border-box;
        display: inline-block;
    }
    form.moresales-form button {
        margin-top: 7px;
        display: block;
        margin: 7px auto;
        width: 250px;
        padding: 0;
    }
    .modal-content-problem-just-text {
        font-size: 18px;
    }
    form.problem-form .modal-content-promo-wrapper {
        margin-top: 5px;
    }
    form.problem-form textarea {
        padding-left: 13px;
        padding-top: 13px;
        font-size: 14px;
    }
    .modal-content-problem {
        padding: 0;
    }
    form.problem-form button {
        width: 250px;
    }
    .coupon-item img {
        max-width: 143px;
        margin-bottom: 15px;
    }
    .footer-moresales-title {
        font-size: 22px;
        font-weight: bold;
    }
    .modal-content-more {
        overflow: hidden;
        max-height: 185px;
    }
    .modal-content-more.active span {
        max-height: 155px;
        overflow: scroll;
    }
}
@media (max-width: 479px) {
    body {
        width: 480px;
    }
}

@media (min-height: 568px) {
    .modal-header {
        flex-grow: 1;
    }
    .modal-body {
        flex-grow: 30;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .modal-footer {
        flex-grow: 1;
    }
}